<div class="row">
  <div class="col">
    <h1>Structural Directives</h1>
    <p>manipulate the dom element</p>
    <p>*ngIf : add & remove</p>
    <button class="btn btn-primary" (click)="ifCLick()">create Block</button>
    <br />
    <br />
    <p *ngIf="isClick; else else1">Open BLock</p>
    <!-- <p>then block</p> -->
    <ng-template #else1>else part " False" </ng-template>
    <h2>if,then,else</h2>
    <button class="btn btn-success" (click)="ifCLick1()">CLick Block</button>
    <br /><br />
    <ng-container>
      <p *ngIf="isClick1; then then1; else else1"></p>
    </ng-container>
    <br />
    <ng-template #then1>Then block</ng-template>
    <ng-template #else1>else block " False" </ng-template>

    <h2 class="my-2">Switch</h2>
    <select class="form-control" (change)="onSwitch($event)">
      <option value="vaibhav">vaibhav</option>
      <option value="apraj">apraj</option>
      <option value="shital">shital</option>
      <option value="vijay">vijay</option>
      <option value="Ajay">Ajay</option>
    </select>
    <br />
    <div class="mt-2" [ngSwitch]="selectedData">
      <h3 *ngSwitchDefault>Please selectName</h3>
      <h3 *ngSwitchCase="'vaibhav'">vaibhav</h3>
      <h3 *ngSwitchCase="'apraj'">apraj</h3>
      <h3 *ngSwitchCase="'shital'">shital</h3>
      <h3 *ngSwitchCase="'vijay'">vijay</h3>
      <h3 *ngSwitchCase="'Ajay'">Ajay</h3>
    </div>
    <br />
    <h2>NgFor</h2>
    <div class="container">
      <h2>Bordered Table</h2>
      <p>The .table-bordered class adds borders to a table:</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Post</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataAll; index as i">
            <!-- last,first,even,odd -->
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.salary }}</td>
            <td>{{ data.post }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
    <h1>ngFor Push & Pop</h1>
    <input type="text" #addArrayDataInput class="form-control" placeholder="Enter Name" />
    <button class="btn btn-success mt-2" (click)="addData(addArrayDataInput)">
      add data
    </button>
    <table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive mt-2 w-100">
      <thead class="thead-inverse|thead-default">
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nameValue of addName; index as i">
          <td>{{ nameValue.name }}</td>
          <td>
            <button class="btn btn-danger mt-2" (click)="deleteData(i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p> the <b>ng-container</b> and <b>ng-template</b> are used to wrap HTML elements. They differ in their mechanisms.
      Also, multiple structural directives are not possible inside ng-template but ng-container can be used to wrap
      multiple elements containing different structural directives so it is a perfect container.<br>
      <ng-container>
        <ng-template [ngIf]="'datahide'">
        </ng-template>
      </ng-container>
    </p>
  </div>
</div>