.bg-img{
    background-image: url("../../../assets/mobile.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 80vh; 
  width: 70vw; 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: 20px;
}