<div class="card" [ngClass]="cardStyle">
    <div class="card-body">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter {{cardPlaceholder}}" #inputData>
        </div>
        <button class="btn btn-success" (click)="expression(inputData.value)">Create</button>
        <p class="mt-2" *ngIf="totalCount>0">Total Count : {{totalCount}}</p>
    </div>
</div>