<h1>data-binding works!</h1>
<p>Data binding is a technique, where the data stays in sync between the component and the view. </p>
<h2>One way data binding</h2>
<h3>1.interpolation: {{ interpolation }} </h3>
<p>To bind data from component to view, but only string</p>
<p>{{myStatus?'online':'offline'}}</p>
<br>
<h3>2.Property Binding: attributs + []</h3>
<p>To bind data from component to view, all type boolen,string</p>
<input type="name" [value]="interpolation">
<input type="name" [disabled]="myStatus">
<input type="name" [hidden]="false">
<br>
<p>Attributes Binding : is used to bind the data from component to HTML attributes.</p>
<div [class.red]="myStatus">class.red</div>
<div [style.font-size]="font">style.font-size</div>
<p>Attributes directives : changes the look and behavior of the dom </p>
<div [ngClass]="'green'">ngClass</div>
<div [ngStyle]="{'font-size':'20px'}">ngStyle</div>
<h3>3.Event Binding: : is used to bind the data from HTML to component attributes.</h3>
<button (click)="myFunction($event)">Click Me</button>
// Full list of Angular Events
<!-- (click)="myFunction()"      
(dblclick)="myFunction()"   
(submit)="myFunction()"
(blur)="myFunction()"  
(focus)="myFunction()" 
(scroll)="myFunction()"
(cut)="myFunction()"
(copy)="myFunction()"
(paste)="myFunction()"
(keyup)="myFunction()"
(keypress)="myFunction()"
(keydown)="myFunction()"
(mouseup)="myFunction()"
(mousedown)="myFunction()"
(mouseenter)="myFunction()"
(drag)="myFunction()"
(drop)="myFunction()"
(dragover)="myFunction()" -->
<br>
<h2>Reference variable</h2>
<input #refVariable type="text" name="name" value="Vaibhav"><br><button (click)="ref(refVariable)">click</button>
<p>{{referenceVariable}}</p>
<h2>Two way data binding</h2>
<p>communication between view to component & component to view & use both (click) & [value]= [(ngModel)]="binding"  & import forms model</p>
<input type="text" [(ngModel)]="binding"><br>
{{binding}}