<app-child-routes></app-child-routes>

  <div class="row">
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/watch.jpg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">Watch</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="watch" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/laptop.jpg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">Laptop</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="laptop" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/mobile.jpg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">Mobile</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="mobile" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/car.jpg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">Car</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="car" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/bick.jpg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">Bick</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="bick" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-4">
        <div class="card" >
            <img class="card-img-top" src="../../assets/house.jpeg" alt="Card image" class="img">
            <div class="card-body">
                <h4 class="card-title">House</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a routerLink="house" routerLinkActive="active" class="btn btn-primary">See More</a>
            </div>
        </div>
    </div>
</div>