
<h2 class="my-3">Input Output </h2>
<input type="text" #inputType placeholder="Enter Name"><br>
<button class="btn btn-primary mt-3" (click)="goToChild(inputType)">go to child</button><br>
<app-child [inputTypeValue]="inputTypeValue" (asd)="goToParent($event)"></app-child>
<br>
<p>parent works! = {{goToParent1}}</p>
