<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding"  routerLinkActive="active">Data Binding</a>
          <!-- [routerLinkActiveOptions]="{exact:true}" -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="structure-directives" routerLinkActive="active">Structure Directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="routes-navigate" routerLinkActive="active">Routes Navigate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-content" routerLinkActive="active">ng-content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="parent" routerLinkActive="active">Parent-Child</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exercise1" routerLinkActive="exercise1">Exercise 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=" subject-behavior" routerLinkActive=" subject-behavior">Subject Behavior</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
<!-- 
 "./dist/ngx-bootstrap/datepicker/bs-datepicker.css",
 "./node_modules/bootstrap/dist/css/bootstrap.min.css",
 "src/styles.css" -->
