<h1>ng-content</h1>
<p>The ng-content is used when we want to insert the content dynamically inside the component that helps to increase component reusability. Using ng-content we can pass content inside the component selector and when angular parses that content that appears at the place of ng-content.</p>
<div class="row">
    <div class="col-sm-6"><app-cards><h5 class="card-title">Mobile</h5><a  class="btn btn-primary text-white">View All Mobiles</a></app-cards></div>
    <div class="col-sm-6"><app-cards><h5 class="card-title">House</h5><a  class="btn btn-primary text-white">View All House</a></app-cards></div>
    <div class="col-sm-6"><app-cards><h5 class="card-title">Bick</h5><a  class="btn btn-primary text-white">View All Bick</a></app-cards></div>
    <div class="col-sm-6"><app-cards><h5 class="card-title">Mobile</h5><a  class="btn btn-primary text-white">View All Mobiles</a></app-cards></div>
    <div class="col-sm-6"><app-cards><h5 class="card-title">Laptop</h5><a  class="btn btn-primary text-white">View All Laptop</a></app-cards></div>
    <div class="col-sm-6"><app-cards><h5 class="card-title">Watch</h5><a  class="btn btn-primary text-white">View All Watch</a></app-cards></div>
</div>
