<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="onfnclick()" routerLinkActive="active">Child Routes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nested-routes" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Nested Routes</a>
        </li>
      </ul>
    </div>
  </nav>

