<p class="text-center">This Exercise is Build on NgIf , NgFor , Input , Output , Push , Splice</p>
<h1 class="text-center text-success">Exercise</h1>
<h2>Parent</h2>
<div class="row">
    <div class="col-sm-6">
        <h5>User</h5>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userData;index as i">
            <td>{{item}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(i)">Delete</button></td>
          </tr>
        </tbody>
      </table></div>
    <div class="col-sm-6">
        <h5>Admin</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of adminData;index as i">
              <td>{{item}}</td>
              <td><button class="btn btn-danger" (click)="deleteAdmin(i)">Delete</button></td>
            </tr>
          </tbody>
      </table></div>
</div>
<hr>
<h2>Child</h2>
<div class="row">
    <div class="col-sm-6">  <h5>User</h5><app-child-card [cardStyle]="'red'" [cardPlaceholder]="'User'"  (dataPassing)="userDataFun($event)"></app-child-card></div>
    <div class="col-sm-6">  <h5>Admin</h5><app-child-card [cardStyle]="'blue'" [cardPlaceholder]="'Admin'" (dataPassing)="adminDataFun($event)"></app-child-card></div>
</div>
