<div class="card w-75 my-2">
    <div class="card-body">
     <ng-content select=".card-title"></ng-content>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <ng-content select=".btn"></ng-content>
    </div>
  </div>